@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Book;


<div class="container">
  <h1>Add Copies to this Book @Model.BookName</h1>
  
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.BookId)
  
    @Html.Label("Enter Number of Copies to Add")
    @Html.TextBox("num")
    <input type="submit" value="Add Copies">
  }
  
  
  <p>@Html.ActionLink("Cancel", "Details", new { id = Model.BookId })</p>
</div>