@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Book

<h2>Details</h2>

<h3>Details for @Model.BookName</h3>

@if (Model.JoinEntities.Count == 0)
{
  <h4>You haven't assigned an Author to this book! Click @Html.ActionLink("here", "AddAuthor", new { id = Model.BookId }) to add an author to this book!</h4>
}
else
{
  <h4>Author(s):</h4>
  @foreach (AuthorBook joinEntity in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{joinEntity.Author.AuthorName}", "Details", "Authors")</li>
    @using (Html.BeginForm("DeleteJoin", "Books"))
    {
      @Html.Hidden("joinId", @joinEntity.AuthorBookId)
      <input type="submit" value="Remove" />
    }
  }
}


<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a new Author Here", "AddAuthor", new { id = Model.BookId})</p>