@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Book;

<h1>Edit @Model.BookName </h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.LabelFor(model => model.BookName, "Name: ")
  @Html.TextBoxFor(model => model.BookName)
  <input type="submit" value="save" />
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>